extends layout

block content
  .jumbotron
    .container
      h1 Como posso te ajudar?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas urna et neque imperdiet dignissim.
       Praesent dui velit, porttitor in lacus eu, suscipit consectetur nisl.
       Ut nibh quam, porttitor at justo ut, ullamcorper auctor ex.
      a.btn.btn-primary.btn-lg(href='#') Saiba Mais &raquo;
  .container
    .row
      .col-md-4
        h2 Sobre nós
        p Sed tellus libero, lacinia ultrices vehicula a, gravida et lectus.
        Praesent sed hendrerit leo, ut tristique mi. Suspendisse velit leo.
        a.btn.btn-default(href= '#') Veja Mais &raquo;
      .col-md-4
        h2 Contatos
        p Sed tellus libero, lacinia ultrices vehicula a, gravida et lectus.
        Praesent sed hendrerit leo, ut tristique mi. Suspendisse velit leo.
        a.btn.btn-default(href= '#') Veja Mais &raquo;
      .col-md-4
        h2 Serviços
        p Sed tellus libero, lacinia ultrices vehicula a, gravida et lectus.
        Praesent sed hendrerit leo, ut tristique mi. Suspendisse velit leo.
        a.btn.btn-default(href= '#') Veja Mais &raquo;
